/* 

    MAIN STYLES

 */

body{
    font-family: 'open_sansregular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding-bottom: 30px !important;
}

.closeAjax{
    float:right;
    margin-right:10px;
    border: none;
    background: none;
    font-size:16px;
}

.closeAjax:hover{
    color:#EDEDED;
    text-decoration: underline;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
}
.user-panel>.image>img{
    width: 100%;
    max-width: 45px;
    height: 45px;
    border: 2px solid #5E6366;
    padding: 2px;    
}
.navbar-nav>.user-menu .user-image {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -7px;
    border: 1px solid #CCC;
    padding: 1px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgb(94, 94, 94);
    padding: 2px;
}

/* DATATABLES */
table.dataTable tr.selected td.select-checkbox:after {
    content: &#xf096 !important;
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9;
}
td.dataTables_empty {
    padding: 50px;
    height: 50px;
    line-height: 50px;
}

/* FORMS */
.form-control {
    border-radius: 3px;
}